* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background: url(fotos/fondo-gris-liso_53876-108462.avif);
    background-size: 100vw 60vh;
    background-repeat: no-repeat;
}

/* Estilos para el encabezado */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu .logo {
    float: left;
    line-height: 100px;
}

.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo h1 {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    margin-left: 20px; /* Adjusted margin */
    margin-top: 20px; /* Adjusted margin */
}

.container .menu {
    float: right;
    line-height: 100px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

/* Fin de Estilos para el encabezado */

/* Menú lateral */

#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* Fin de Menú lateral */

.dir {
    color: aliceblue;
    text-align: center; /* Centered text */
    margin-top: 20px; /* Adjusted margin */
}

.DIRECCIÓN {
    margin-left: 660px;
    max-width: 100%; /* Make the map responsive */
    padding: 35px 10px;
}

.dir1 {
    text-align: center; /* Centered text */
    margin-top: 60px; /* Adjusted margin */
}

.item {
    margin-top: 20px; /* Adjusted margin */
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 18px; /* Adjusted font size */
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}
