* {
  font-family: "Montserrat Alternates", sans-serif;
}
/* Estilo general del header */
.header {
  background-color: #5e5555;
  padding: 10px 0;
  width: 100%;
}

body {
  background: linear-gradient(to bottom, transparent, rgba(20, 22, 19, 0.8)),
    url("fotos/Supermercado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: 0;
  height: 100vh;
}
/* Estilos para el contenedor general */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.container .btn-menu .logo {
  float: left;
}
.container .btn-menu label {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
/* Estilo del logo */
.logo h1 {
  font-size: 20px;
  text-align: auto;
  color: white;
  margin: 10px 0;
  line-height: 1.2;
}

.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 50px;
}
.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/* Estilo del buscador */
.search-bar {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 400px;
}

.search-bar input {
  width: 80%;
  padding: 8px 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
}
.search-bar {
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
}
/* Estilos para el menú de navegación en el header */
.navbar-links {
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.navbar-links a:hover {
  color: #555; /* Cambia el color al pasar el mouse */
}
.navbar-links {
  margin-top: 10px;
}
.container-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}
.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 280vh;
  position: relative;
}
#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}
.cont-menu nav {
  transform: translateY(15%);
}
.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
/*Fin de Menù lateral*/
.botones {
  margin-top: 400px;
  margin-left: 150px;
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.contenedor {
  margin-left: 500px;
  margin-top: 50px;
  display: flex;
  justify-content: left;
  align-items: left;
}
.txt {
  flex-direction: column;
  text-align: left;
  margin-top: 80px;
  margin-left: 50px;
  justify-content: left;
  font-family: sans-serif;
}

.item {
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-left: 100px;
  font-size: 25px;
}

/* LINKS DE LOS BOTONES */
.link {
  outline: none;
  text-decoration: none;
  text-decoration-color: #1f1f1f;
}
.boton {
  margin-left: 0;
  text-align: center;
  margin-top: 450px;
  outline: none;
  text-decoration: none;
}
.botones {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Donegal One", serif;
  font-family: "Lexend Peta", sans-serif;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin: 20px;
  padding: 5px 30px;
  border-radius: 8px;
  border: 2px solid #48e;
  color: rgb(5, 16, 34);
  cursor: pointer;
}

.botones:hover {
  background: #48e;
  color: #fff;
}
.botones:active {
  background: #133677;
}
.botones:hover {
  background: #48e;
  color: #fff;
}

/* FOOTER */
footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

footer .footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

footer .social-link i {
  color: #333;
  transition: color 0.3s ease;
}

footer .social-link:hover i {
  color: #007bff;
}

footer .footer-h3 {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

footer .footer-text {
  color: #666;
  margin-top: 15px;
}

/* Estilos específicos para los íconos en hover */
footer .social-link:hover .fa-twitter {
  color: #1da1f2;
}

footer .social-link:hover .fa-instagram {
  color: #d6249f;
}

footer .social-link:hover .fa-whatsapp {
  color: #25d366;
}

/* Estilos para pantallas medianas (tabletas) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .logo h1 {
    font-size: 50px;
    margin-top: 100px;
  }
}
